<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('header') %>

    <%- defineContent('header-end') %>

    <link rel="stylesheet" href="/css/responsive.css">

</head>

<body onload="setIcon()" style="background-color: #f8f8f8;">
    <div class="container-fluid">

        <%- body %>

    </div>

    <%- include('footer') %>

    <script src="/js/home-page.js"></script>

    <%- include('methods') %>

</body>

</html>